<div style="max-width: {{col.width}}px;" class="md-cell {{col.type}}">
  <div ng-if="col.type == 'currency microusd'">
    {{getCurrency(row.branch[col.field])}}
  </div>
  <div ng-if="col.type == 'date'">
    {{getDate(row.branch[col.field])}}
  </div>
  <div ng-if="col.type == 'number'">
    {{row.branch[col.field]}}
  </div>
  <div ng-if="col.type == 'string'">
    {{row.branch[col.field]}}
  </div>
  <div ng-if="col.type == 'string link'">
    <a ng-href="#/{{col.table}}/{{row.branch.id}}">{{row.branch[col.field]}}</a>
  </div>
  <div ng-if="col.type == 'switch'">
    {{col.options.join(', ')}}
  </div>

</div>
