.md-table-filter-chips {
  display: flex;
}

.md-table-filter-chip {
  position: relative;
}

.md-table-filter-condition-panel {
  display: block;
  position: absolute;
  left: 0;
}

md-autocomplete {
  display: block;
  left: 0;
  position: absolute;

  md-autocomplete-wrap.md-whiteframe-z1 {
    box-shadow: none;
  }
}


